.job-portal {
  background-color: black;
  display: flex;
  flex-direction: row;
  padding: 25px;
}
.job-items {
  padding: 30px;
}
.search-icon {
  background-color: #272727;
  height: 30px;
  width: 60px;
  color: white;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  margin-left: 40px;
  border: solid;
  border-color: white;
  border-width: 0.05px;
  width: 300px;
}
.search {
  width: 300px;
  height: 28px;
  background-color: black;
  color: white;
  border: none;
}
.profile-filter {
  margin-left: 80px;
}
